.App {
	background-color: #282c34;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	color: white;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}


/*Главные блоки*/
.SETTINGS_PANEL, .COUNTER_PANEL {
	height: 40vh;
	width: 27%;
	border: 2px solid #61dafb;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.SETTINGS_PANEL {

}
.COUNTER_PANEL {

}


/*Блок настроек с инпутами*/
.SETTINGS {
	border: 1px solid #61dafb;
	height: 20vh;
	width: 77%;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
/*Один инпут*/
.SETTING_VALUE {

}
/*Блок с кнопкой SET*/
.SETUP-BUTTON {
	border: 1px solid #61dafb;
	height: 7vh;
	width: 77%;

	display: flex;
	justify-content: center;
	align-items: center;
}


/*Блок счетчика*/
.COUNTER {
	border: 1px solid #61dafb;
	height: 20vh;
	width: 77%;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
/*Блок с кнопками INC и RESET*/
.CONTROL-BUTTONS {
	border: 1px solid #61dafb;
	height: 7vh;
	width: 77%;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


/*Для неактивного блока*/
.deactivated_panel {
	opacity: 0.4;
	/*pointer-events: none;*/
}

/*Для максимального значения*/
.max_counter_value {
	color: red;
	/*pointer-events: none;*/
}